<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="form-forgot-password">
    <div class="text-center">
        <img class="mb-2" src="../../../assets/imgs/logo.png"  style="max-width: 400px; width:100%;">
    </div>
    <h1 class="h4 text-center">¿Se te olvidó tu contraseña?</h1>
    <hr>
    <p class="text-center">
        Ingrese su dirección de correo electrónico a continuación<br> 
        y le enviaremos un enlace para restablecer su contraseña.
    </p>
    <div *ngIf="error !=''" class="alert alert-danger" role="alert">
        {{error}}
    </div>
    <div class="form-group">
      <input type="email" [(ngModel)]="email"  class="form-control form-control-lg" placeholder="Correo electrónico" required autofocus>
    </div>
    <button class="btn btn-lg btn-primary btn-block" (click)="forgotPassword()">Restaurar contraseña</button>
    <hr>
    <div class="text-center">
        <a [routerLink]="['/signup']" >Crear una cuenta</a>
    </div>
    <div class="text-center">
        <a [routerLink]="['/login']" >¿Ya tienes una cuenta? ¡Iniciar sesión!</a>
    </div>
</div>
 <!-- Modal -->
 <div id="modal" class="modal fade"  tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
            <i class="material-icons font-lg text-success">check_circle</i>
            <br>
            <span class="text-success">{{success}}</span>
            <div class="my-3">
                <a [routerLink]="['/login']" class="btn btn-outline-success" data-dismiss="modal" >Aceptar</a>
            </div>
            </div>
        </div>
    </div>
  </div>
  <!--end modal-->
