.hg-content{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 60px;
}


.form-porfile {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.font-lg{
    font-size: 70px;
}

.font-sm{
    font-size: 18px;
}

.table{
    table-layout: fixed !important;
}